.modal-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-project {
    width: 90%;
    height: 95%;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.voltar{
    position: absolute;
    left: 1310px;
    top: 50px;
}

.hr{
    width: 100%;
    height: 1px;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 200px;
    height: 42px;
    border: 1px solid #CCA4FF;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 12px;
}

.div-tags{
    display: flex;
    margin-top: 26px;
}

.modal-info{
    padding: 100px;
    box-sizing: border-box;
    margin-top: 600px;
}

.h1-title{
    margin-bottom: 16px;
}

.hr{
    margin-top: 16px;
    margin-bottom: 24px;
    text-decoration: none;
    width: 100%;
    background-color: #D9BBFF;
}

.modal-imagem{
    width: 100%;
    height: 100%;
    background-color: #CCA4FF;
    display: flex;
    flex-direction: column;
}

.crud{
    background-color: white;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.create-project-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-fields {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.create-project-field {
    width: 100%;
}
.create-project-field-wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 100px;
}

.buttons-wrap {
    width: 100%;
    display: flex;
    justify-content: end;
}

.upload {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.upload-area {
    border: 2px dashed #E6D2FF;
    border-radius: 8px;
    width: 323px;
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.upload-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: rgba(0, 0, 0, 0.35);
    margin-top: 42px;
}

.upload-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 18px;
}

.upload-button {
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2), 0px 2px 3px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}