@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

/* .App {
  text-align: center;
} */
