.botao-voltar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 42px;
    border-radius: 4px;
    background-color: #D9BBFF;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px;
}

.conteudo{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 36px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 112px;
}

.conteudo .h1{
    margin-bottom: 16px;
}

.conteudo .img-erro404{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.conteudo .mensagem-erro404{
    position: absolute;
    margin-top: 280px;
}