.nav{
    width: 100vw;
    height: 112px;
    background-color: #ffffff;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 36px;
    border-bottom: 1px solid #ECECEC;

    position: fixed;
    top: 0;
    left: 0;
}
  
.nav .botao-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 42px;
    border-radius: 4px;
    background-color: #D9BBFF;
    text-decoration: none;
    cursor: pointer;
    margin-right: 12px;
}

.nav .botao-login:hover{
    background-color: #B276FF;
}

.nav .botao-cadastrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 127px;
    height: 42px;
    border: 1px solid #CCA4FF;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.nav .botao-cadastrar:hover{
    background-color: #cba4ff2d;
}

.nav .botao-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 42px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 6px;
    margin-left: 24px;
}

.nav .botao-home:hover{
    background-color: #cba4ff2d;
}

.nav .botao-explorar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.nav .botao-explorar:hover{
    background-color: #cba4ff2d;
}

.nav .div-right{
    display: flex;
    align-items: center;
}

.nav .div-left{
    margin-left: auto;
    display: flex;
}

.nav .img{
    padding: 18px 0px 0px 0px;
}